* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
} 

a {
  color: inherit;
  text-decoration: none;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
        @include themed() {
            background: t('main-bg');
            color: t('text');
        }
    }
}

.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}


h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 52px;
}


h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.inner--find {
    p {
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
    }
}


.container {
    display: flex;
    flex-wrap: wrap;

    .container__left, .container__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include breakpoint('medium') {
            width: 50%;
        }
    }

    &.container--home {
        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 31px;
        }
    }

    &.container--help {
        p {
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
        }

        .step__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

.bg-light-gray {
    background-color: $light-gray;
}

.bg-gray {
    background-color: $medium-gray;
}

.bg-dark-gray {
    background-color: $dark-gray;
}

.breadcrumbs {
    ul {
        display: flex;
        list-style: none;
        li:not(:first-child):before{
            content: '>';
            display: inline-block;
            margin: 0 8px;
        }

        li:last-child {
            font-weight: 500;
        }
    }
}

.detail__title {
    margin: 20px 0;
    font-size: 48px;
    line-height: 52px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
    span {
        font-size: 32px;
        font-weight: 100;
        margin-right: 10px;
        line-height: 40px;
    }
}

.chip {
    display: inline-block;
    padding: 5px 20px;
    font-size: 18px !important;
    line-height: 28px;
    border-radius: 10px;

    &.chip--green {
        color: $dark-green;
        background-color: $light-green;
    }
}

.search__results {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    li a {
        display: flex;
        flex-direction: column;
        padding: 25px 10px;
        cursor: pointer;
        border-bottom: 1px solid $light-gray;
        border-radius: 5px;

        &:hover {
            background: $light-gray;
        }

        .item--name {
            font-size: 20px;
            font-weight: 500;
            .item--atc {
                font-size: 20px;
                font-weight: 300;
            }
        }
    }
}

.tab__list {
    width: 100%;
    overflow: auto;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid $light-gray;

    .tab {
        padding: 20px 25px;
        font-size: 20px;
        cursor: pointer;
        &--active {
            font-weight: 500;
            border-bottom: 3px solid $red;
        }
    }
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    font-weight: 200;

    &--danger {
        background-color: $red;
        color: $white;
    }
}

.slides {
    display: flex;
    flex-direction: column;

    .slide {
        display: flex;
        flex-direction: column;
        margin: 10px 0;

        .slide__header {
            background: $light-gray;
            border: 1px solid $medium-gray;
            padding: 15px 10px;
            cursor: pointer;
            font-weight: 700;
            border-radius: 5px;
        }

        .slide__content {
            display: none;
            margin: 10px 0;
            padding-left: 20px;
            ul {
                list-style: circle;
                padding-left: 40px;
                margin: 10px 0;
                li {
                    padding: 5px 0;
                    font-size: 18px;
                }
            }
        }
        &--active {
            .slide__content {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

ul.linkList {
    li {
        color: $blue;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}


.tooltip {
    width: 18px;
    height: 18px;
    position: relative;
    display: inline-block;
    font-weight: 300;
    svg path {
      @include themed() {
        stroke: t('text');
      }
    }
    svg circle {
      @include themed() {
        fill: t('text');
      }
    }
  }
  
  .tooltip__text {
    @include themed() {
      background-color: t('text');
      color: t('focus-bg')
    }
    min-width: 100px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 34px;
  }
  
  .section .tooltip {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  .tooltip__text {
    @include themed() {
      background-color: t('text');
    }
  }
  
  .tooltip__text:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-width: 5px;
      margin-top: -5px;
    @include themed() {
      border-left-color: t('text');
    }
  }

  table {
      margin: 20px 0;
      width: 100%;
      th,td {
          border-bottom: 1px solid $light-gray;
          padding: 15px 10px;
      }
      th {
          text-align: left;
      }
      td {
          font-weight: 300;
      }
  }