* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
} 

a {
  color: inherit;
  text-decoration: none;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
        @include themed() {
            background: t('main-bg');
            color: t('text');
        }
    }
}

.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
}


h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 52px;
}


h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
}


.container {
    display: flex;
    flex-wrap: wrap;

    .container__left, .container__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include breakpoint('medium') {
            width: 50%;
        }
    }

    &.container--home,
    &.container--help {
        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 31px;
        }
    }
}

.bg-light-gray {
    background-color: $light-gray;
}

.bg-gray {
    background-color: $gray;
}

.bg-dark-gray {
    background-color: $dark-gray;
}