.step {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 30px 0;
  padding: 50px;

  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .in-cicle {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 28px;


      border: 6px solid black;
      border-radius: 50%;

      margin-right: 8px;
    }
  }
}