$white: #FFFFFF;
$light-gray: #ECEFF3;
$medium-gray: #D2DAE4;
$gray: #C3CAD3;
$dark-gray: #737A82;
$black: #091829;

$dark-blue: #173F6F;
$blue: #2C75F6;
$green: #6FCF97;
$yellow: #F4AF4C;
$red: #C4321D;